@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
  --font-text: 'Caveat', cursive;
  --color-background: black;
  --color-white: white;
}

* {
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  height: auto;
  margin: auto;
}

/*====================Header=======================*/

.header {
  width: 100%;
  text-align: center;
  background-color: var(--color-background);
  padding: 10px;
  font-size: x-large;
}

.title-header {
  color: var(--color-white);
  font-size: 3em;
}

.autorais {
  color: var(--color-white);
}

p > a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 800;
  padding: 10px;
}

p > a:hover {
  color: rgb(194, 194, 194);
}

/*========================Main===================*/

.poema {
  margin: 30px;
  font-size: 2em;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
}

.background {
  background-color: aqua;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 10px 40px inset rgba(32, 32, 32, 0.671);
}

#imagem-joaninha {
  background-image: url(pacote-d012/imagens/background001.jpg);
}

#imagem-texto {
  background-image: url();
}

.poema01 {
  color: white;
  padding: 50px;
  font-size: 2em;
}

.fundo {
  background-color: rgba(59, 59, 59, 0.541);
  padding: 10px;
  width: 70%;
}
/*============================Footer====================*/

.footer {
  background-color: var(--color-background);
  color: var(--color-white);
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}
